.header_main {
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    height: var(--height-header-main);
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--border-dark);
    z-index: 50;
}
