.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header_quiz {
    margin-top: 20px;
}

.footer_quiz {
    width: 100%;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
}
